In [1]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

# import datetime class from datetime module

from datetime import datetime

In [2]:
# Load the Auto Insurance dataset

autodata = pd.read_csv(r"C:\Users\Admin\Downloads\Raju Sir DLS\Auto_Quote_Data_V2.0.csv", header=0)
autodata.head()

,Quote_Num,Agent_Type,Q_Creation_DT,Q_Valid_DT,Policy_Bind_DT,Region,Agent_Num,Policy_Type,HH_Vehicles,HH_Drivers,Driver_Age,Driving_Exp,Prev_Accidents,Prev_Citations,Gender,Marital_Status,Education,Sal_Range1,Sal_Range2,Coverage,Veh_Usage,Annual_Miles_Range,Vehicl_Cost_Range1,Vehicl_Cost_Range2,Re_Quote,Quoted_Premium,Policy_Bind
0,AQ-C-139212,EA,2020/04/25,2020/06/23,2020/05/23,C,2156,Car,3,3,43,26,0,0,Female,Widow,High School,> $ 25 K <= $ 40 K,> 25 K <= 40 K,Balanced,Commute,> 55 K,> $ 10 K <= $ 20 K,> 10 K <= 20 K,No,693.86,Yes
1,AQ-F-136117,EA,2020/02/21,2020/04/20,NaN,F,2153,Van,2,2,30,13,0,0,Female,Dirvorced,Ph.D,> $ 40 K <= $ 60 K,> 40 K <= 60 K,Balanced,Pleasure,> 7.5 K & <= 15 K,<= $ 10 K,<= 10 K,No,635.96,No
2,AQ-F-126801,EA,2020/06/19,2020/08/17,2020/07/12,F,2056,Truck,2,1,25,8,0,0,Female,Dirvorced,Ph.D,> $ 40 K <= $ 60 K,> 40 K <= 60 K,Basic,Commute,> 35 K & <= 45 K,> $ 10 K <= $ 20 K,> 10 K <= 20 K,No,780.64,Yes
3,AQ-E-143467,EA,2020/05/02,2020/06/30,2020/05/24,E,2138,Car,1,2,43,26,0,0,Female,Married,Ph.D,> $ 90 K,> 90 K,Basic,Pleasure,<= 7.5 K,<= $ 10 K,<= 10 K,No,723.15,Yes
4,AQ-C-143827,EA,2020/02/12,2020/04/11,2020/02/25,C,2327,Truck,3,1,40,23,0,0,Female,Widow,High School,<= $ 25 K,<= 25 K,Basic,Pleasure,> 35 K & <= 45 K,<= $ 10 K,<= 10 K,No,738.14,Yes

In [3]:
# Display the Dataset information

autodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Quote_Num           146259 non-null  object
 1   Agent_Type          146259 non-null  object
 2   Q_Creation_DT       146259 non-null  object
 3   Q_Valid_DT          146259 non-null  object
 4   Policy_Bind_DT      32502 non-null   object
 5   Region              146259 non-null  object
 6   Agent_Num           146259 non-null  int64
 7   Policy_Type         146259 non-null  object
 8   HH_Vehicles         146259 non-null  int64
 9   HH_Drivers          146259 non-null  int64
 10  Driver_Age          146259 non-null  int64
 11  Driving_Exp         146259 non-null  int64
 12  Prev_Accidents      146259 non-null  int64
 13  Prev_Citations      146259 non-null  int64
 14  Gender              146259 non-null  object
 15  Marital_Status      146259 non-null  object
 16  Education           146259 non-null  object
 17  Sal_Range1          146259 non-null  object
 18  Sal_Range2          146259 non-null  object
 19  Coverage            146259 non-null  object
 20  Veh_Usage           146259 non-null  object
 21  Annual_Miles_Range  146259 non-null  object
 22  Vehicl_Cost_Range1  146259 non-null  object
 23  Vehicl_Cost_Range2  146259 non-null  object
 24  Re_Quote            146259 non-null  object
 25  Quoted_Premium      146259 non-null  float64
 26  Policy_Bind         146259 non-null  object
dtypes: float64(1), int64(7), object(19)
memory usage: 30.1+ MB

In [4]:
# Drop the variables which are not infulencing on target variable

autodata = autodata.drop(['Quote_Num','Agent_Num','Q_Creation_DT','Q_Valid_DT','Policy_Bind_DT','Vehicl_Cost_Range1','Sal_Range1',], axis=1)

In [5]:
# Display the Policybind type varibles count

autodata['Policy_Bind'].value_counts()

# Data Cleaning - Policybind by using map() function

policybind_map={'Yes':1,'No':0}
autodata['Policy_Bind']=autodata['Policy_Bind'].map(policybind_map)
autodata['Policy_Bind'].value_counts()

0    113757
1     32502
Name: Policy_Bind, dtype: int64

In [6]:
# Display the agent type varibles count

autodata['Agent_Type'].value_counts()

# Data Cleaning - agent by using map() function

agent_map={'EA':1,'IA':0}
autodata['Agent_Type']=autodata['Agent_Type'].map(agent_map)

# Display the agent type varibles count

autodata['Agent_Type'].value_counts()

1    104004
0     42255
Name: Agent_Type, dtype: int64

In [7]:
# Use LabelEncoder for Region variables

from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()

autodata['Region'] = LE.fit_transform(autodata['Region'])
autodata['Gender'] = LE.fit_transform(autodata['Gender'])
autodata['Re_Quote'] = LE.fit_transform(autodata['Re_Quote'])

autodata['Region'].value_counts()
autodata['Gender'].value_counts()
autodata['Re_Quote'].value_counts()

0    110005
1     36254
Name: Re_Quote, dtype: int64

In [8]:
# Displaying the dataset information

autodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Agent_Type          146259 non-null  int64
 1   Region              146259 non-null  int32
 2   Policy_Type         146259 non-null  object
 3   HH_Vehicles         146259 non-null  int64
 4   HH_Drivers          146259 non-null  int64
 5   Driver_Age          146259 non-null  int64
 6   Driving_Exp         146259 non-null  int64
 7   Prev_Accidents      146259 non-null  int64
 8   Prev_Citations      146259 non-null  int64
 9   Gender              146259 non-null  int32
 10  Marital_Status      146259 non-null  object
 11  Education           146259 non-null  object
 12  Sal_Range2          146259 non-null  object
 13  Coverage            146259 non-null  object
 14  Veh_Usage           146259 non-null  object
 15  Annual_Miles_Range  146259 non-null  object
 16  Vehicl_Cost_Range2  146259 non-null  object
 17  Re_Quote            146259 non-null  int32
 18  Quoted_Premium      146259 non-null  float64
 19  Policy_Bind         146259 non-null  int64
dtypes: float64(1), int32(3), int64(8), object(8)
memory usage: 20.6+ MB

In [9]:
# Display the policy type varibles count

autodata['Policy_Type'].value_counts()

# Data Cleaning - Policy type by using map() function

Policytype_map={'Car':1,'Truck':2,'Van':3}
autodata['Policy_Type']=autodata['Policy_Type'].map(Policytype_map)

# Display the policy type varibles count

autodata['Policy_Type'].value_counts()

3    48909
2    48702
1    48648
Name: Policy_Type, dtype: int64

In [10]:
# Display the Marital_Status varibles count

autodata['Marital_Status'].value_counts()

# Data Cleaning - Marital Status by using map() function

Maritalstatus_map={'Married':4,'Dirvorced':3,'Widow':2,'Single':1}
autodata['Marital_Status']=autodata['Marital_Status'].map(Maritalstatus_map)

# Display the Marital_Status varibles count

autodata['Marital_Status'].value_counts()

1    36711
2    36523
3    36520
4    36505
Name: Marital_Status, dtype: int64

In [11]:
# Display the education varibles count

autodata['Education'].value_counts()

# Data Cleaning - Education type by using map() function
Education_map={'Ph.D':5,'Masters':4,'Bachelors':3,'College':2,'High School':1}
autodata['Education']=autodata['Education'].map(Education_map)

# Display the education varibles count
autodata['Education'].value_counts()

2    29475
4    29433
3    29232
1    29149
5    28970
Name: Education, dtype: int64

In [12]:
# Display the Coverage type varibles count

autodata['Coverage'].value_counts()

# Data Cleaning - coverage type by using map() function

Coverage_map={'Basic':3,'Balanced':2,'Enhanced':1}
autodata['Coverage']=autodata['Coverage'].map(Coverage_map)

# Display the Coverage type varibles count

autodata['Coverage'].value_counts()

3    62764
2    41775
1    41720
Name: Coverage, dtype: int64

In [13]:
# Display the Veh_Usage type varibles count

autodata['Veh_Usage'].value_counts()

# Data Cleaning - Veh_Usage type by using map() function

VehUsage_map={'Pleasure':1,'Commute':2,'Business':3}
autodata['Veh_Usage']=autodata['Veh_Usage'].map(VehUsage_map)

# Display the Veh_Usage type varibles count

autodata['Veh_Usage'].value_counts()

1    83504
2    41921
3    20834
Name: Veh_Usage, dtype: int64

In [14]:
# Displaying the dataset information

autodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Agent_Type          146259 non-null  int64
 1   Region              146259 non-null  int32
 2   Policy_Type         146259 non-null  int64
 3   HH_Vehicles         146259 non-null  int64
 4   HH_Drivers          146259 non-null  int64
 5   Driver_Age          146259 non-null  int64
 6   Driving_Exp         146259 non-null  int64
 7   Prev_Accidents      146259 non-null  int64
 8   Prev_Citations      146259 non-null  int64
 9   Gender              146259 non-null  int32
 10  Marital_Status      146259 non-null  int64
 11  Education           146259 non-null  int64
 12  Sal_Range2          146259 non-null  object
 13  Coverage            146259 non-null  int64
 14  Veh_Usage           146259 non-null  int64
 15  Annual_Miles_Range  146259 non-null  object
 16  Vehicl_Cost_Range2  146259 non-null  object
 17  Re_Quote            146259 non-null  int32
 18  Quoted_Premium      146259 non-null  float64
 19  Policy_Bind         146259 non-null  int64
dtypes: float64(1), int32(3), int64(13), object(3)
memory usage: 20.6+ MB

In [15]:
# Display the Sal_Range2 varibles count

autodata['Sal_Range2'].value_counts()

# Replace 'Sal_Range2' variable and convert the 'Sal_Range2' to integer value
autodata['Sal_Range2'] = autodata['Sal_Range2'].str.replace('<=  25 K', '1')
autodata['Sal_Range2'] = autodata['Sal_Range2'].str.replace('>  25 K <=  40 K', '2')
autodata['Sal_Range2'] = autodata['Sal_Range2'].str.replace('>  40 K <=  60 K', '3')
autodata['Sal_Range2'] = autodata['Sal_Range2'].str.replace('>  60 K <=  90 K', '4')
autodata['Sal_Range2'] = autodata['Sal_Range2'].str.replace('>  90 K', '5')
autodata['Sal_Range2'] = autodata['Sal_Range2'].astype(int)

# Display the Sal_Range2 varibles count

autodata['Sal_Range2'].value_counts()

1    64916
2    32340
5    16450
3    16289
4    16264
Name: Sal_Range2, dtype: int64

In [16]:
# Display the Annual_Miles_Range varibles count

autodata['Annual_Miles_Range'].value_counts()

# Replace 'Annual_Miles_Range' variable and convert the 'Annual_Miles_Range' to integer value
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('<= 7.5 K', '1')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('> 7.5 K & <= 15 K', '2')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('> 15 K & <= 25 K', '3')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('> 25 K & <= 35 K', '4')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('> 35 K & <= 45 K', '5')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('> 45 K & <= 55 K', '6')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].str.replace('> 55 K', '7')
autodata['Annual_Miles_Range'] = autodata['Annual_Miles_Range'].astype(int)

# Display the Annual_Miles_Range varibles count

autodata['Annual_Miles_Range'].value_counts()

2    36567
1    36538
3    24145
7    12433
6    12219
5    12192
4    12165
Name: Annual_Miles_Range, dtype: int64

In [17]:
# Display the Vehicl_Cost_Range2 varibles count

autodata['Vehicl_Cost_Range2'].value_counts()

# Replace 'Vehicl_Cost_Range2' variable and convert the 'Vehicl_Cost_Range2' to integer value
autodata['Vehicl_Cost_Range2'] = autodata['Vehicl_Cost_Range2'].str.replace('<=  10 K', '1')
autodata['Vehicl_Cost_Range2'] = autodata['Vehicl_Cost_Range2'].str.replace('>  10 K <=  20 K', '2')
autodata['Vehicl_Cost_Range2'] = autodata['Vehicl_Cost_Range2'].str.replace('>  20 K <=  30 K', '3')
autodata['Vehicl_Cost_Range2'] = autodata['Vehicl_Cost_Range2'].str.replace('>  30 K <=  40 K', '4')
autodata['Vehicl_Cost_Range2'] = autodata['Vehicl_Cost_Range2'].str.replace('>  40 K', '5')
autodata['Vehicl_Cost_Range2'] = autodata['Vehicl_Cost_Range2'].astype(int)

# Display the Vehicl_Cost_Range2 varibles count

autodata['Vehicl_Cost_Range2'].value_counts()

1    60342
3    24685
2    24548
4    24543
5    12141
Name: Vehicl_Cost_Range2, dtype: int64

In [18]:
# Displaying the dataset information

autodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146259 entries, 0 to 146258
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Agent_Type          146259 non-null  int64
 1   Region              146259 non-null  int32
 2   Policy_Type         146259 non-null  int64
 3   HH_Vehicles         146259 non-null  int64
 4   HH_Drivers          146259 non-null  int64
 5   Driver_Age          146259 non-null  int64
 6   Driving_Exp         146259 non-null  int64
 7   Prev_Accidents      146259 non-null  int64
 8   Prev_Citations      146259 non-null  int64
 9   Gender              146259 non-null  int32
 10  Marital_Status      146259 non-null  int64
 11  Education           146259 non-null  int64
 12  Sal_Range2          146259 non-null  int32
 13  Coverage            146259 non-null  int64
 14  Veh_Usage           146259 non-null  int64
 15  Annual_Miles_Range  146259 non-null  int32
 16  Vehicl_Cost_Range2  146259 non-null  int32
 17  Re_Quote            146259 non-null  int32
 18  Quoted_Premium      146259 non-null  float64
 19  Policy_Bind         146259 non-null  int64
dtypes: float64(1), int32(6), int64(13)
memory usage: 19.0 MB

In [19]:
# Identify the dependent and Target variables

IndepVar = []
for col in autodata.columns:
    if col != 'Policy_Bind':
        IndepVar.append(col)

TargetVar = 'Policy_Bind'

x = autodata[IndepVar]
y = autodata[TargetVar]

In [20]:
#Splitting the dataset into train and test

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 42) 
x_test_F1 = x_test.copy()

In [22]:
# Scaling the features

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

x_train_scaled = scaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train_scaled)

x_test_scaled = scaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test_scaled)

In [ ]:
# Training the SVM algorithm with train dataset

from sklearn.svm import SVC

autodataSVM = SVC(C=1.0, kernel='linear', degree=3, gamma='scale', coef0=0.0, shrinking=True, 
                  probability=True, tol=0.001, cache_size=200, class_weight=None, verbose=False, 
                  max_iter=- 1, decision_function_shape='ovr', break_ties=False, random_state=None)

# Train the model with train data 

autodataSVM = autodataSVM.fit(x_train, y_train)

# Predict the model with test data set

y_pred = autodataSVM.predict(x_test)
y_pred_prob = autodataSVM.predict_proba(x_test)

# Confusion matrix in sklearn

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# actual values

actual = y_test

# predicted values

predicted = y_pred

# confusion matrix

matrix = confusion_matrix(actual,predicted, labels=[1,0],sample_weight=None, normalize=None)
print('Confusion matrix : \n', matrix)

# outcome values order in sklearn

tp, fn, fp, tn = confusion_matrix(actual,predicted,labels=[1,0]).reshape(-1)
print('Outcome values : \n', tp, fn, fp, tn)

# classification report for precision, recall f1-score and accuracy

C_Report = classification_report(actual,predicted,labels=[1,0])

print('Classification report : \n', C_Report)

# calculating the metrics

sensitivity = round(tp/(tp+fn), 3);
specificity = round(tn/(tn+fp), 3);
accuracy = round((tp+tn)/(tp+fp+tn+fn), 3);
balanced_accuracy = round((sensitivity+specificity)/2, 3);
precision = round(tp/(tp+fp), 3);
f1Score = round((2*tp/(2*tp + fp + fn)), 3);

# Matthews Correlation Coefficient (MCC). Range of values of MCC lie between -1 to +1. 
# A model with a score of +1 is a perfect model and -1 is a poor model

from math import sqrt

mx = (tp+fp) * (tp+fn) * (tn+fp) * (tn+fn)
MCC = round(((tp * tn) - (fp * fn)) / sqrt(mx), 3)

print('Accuracy :', round(accuracy*100, 2),'%')
print('Precision :', round(precision*100, 2),'%')
print('Recall :', round(sensitivity*100,2), '%')
print('F1 Score :', f1Score)
print('Specificity or True Negative Rate :', round(specificity*100,2), '%'  )
print('Balanced Accuracy :', round(balanced_accuracy*100, 2),'%')
print('MCC :', MCC)

# Area under ROC curve 

from sklearn.metrics import roc_curve, roc_auc_score

print('roc_auc_score:', round(roc_auc_score(y_test, y_pred), 3))

# ROC Curve

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
logit_roc_auc = roc_auc_score(y_test, y_pred)
fpr, tpr, thresholds = roc_curve(y_test,autodataSVM.predict_proba(x_test)[:,1])
plt.figure()
# plt.plot(fpr, tpr, label='Logistic Regression (area = %0.2f)' % logit_roc_auc)
plt.plot(fpr, tpr, label= 'Classification Model' % logit_roc_auc)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Log_ROC')
plt.show() 
print('-----------------------------------------------------------------------------------------------------')